# Virtual environments
venv/
env/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebooks
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env
.env.local

# IDE / editor
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
